@import "tailwindcss";

.brand {
  font-family: 'Bungee', cursive, sans-serif;
  letter-spacing: 0.5px;
  padding-left: 12px;
  background: linear-gradient(35deg, #ffd445, #f76504);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.6s ease, transform 0.4s ease;
  text-shadow: 0px 4px 1px rgba(255, 79, 79, 0.6)
}

.brand:hover {
  background-position: right center;
  transform: scale(1.12);
  text-shadow: 0px 4px 1px rgba(255, 79, 79, 0.6);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
}